{% extends 'main.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">Logbook Dashboard</h1>
<div class="container border">
  <h2 class="text">Recency of experience:</h2>
  <div class="row">
    <div class="col">
      <div class="card border-success mb-2">
        <div class="card-header p-3 pt-3">
            <div class="text-center pt-1">
                <p class="text-sm mb-0 text-capitalize text-success">Last 30 days</p>
                <h4 class="mb-0 text-success">{{last_30_days}}</h4>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="card border-success mb-2">
        <div class="card-header p-3 pt-3">
            <div class="text-center pt-1">
                <p class="text-sm mb-0 text-capitalize text-success">Last 90 days</p>
                <h4 class="mb-0 text-success">{{last_90_days}}</h4>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="card border-success mb-2">
        <div class="card-header p-3 pt-3">
            <div class="text-center pt-1">
                <p class="text-sm mb-0 text-capitalize text-success">Last 365 days</p>
                <h4 class="mb-0 text-success">{{last_365_days}}</h4>
            </div>
        </div>
    </div>
    </div>
  </div>
  <div class="row">
    <h2 class="text">Totals:</h2>
    <div class="col">
      <div class="card border-success mb-2">
        <div class="card-header p-3 pt-3">
            <div class="text-center pt-1">
                <p class="text-sm mb-0 text-capitalize text-success">Flight Time:</p>
                <h4 class="mb-0 text-success">{{total_flight}}</h4>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="card border-success mb-2">
        <div class="card-header p-3 pt-3">
            <div class="text-center pt-1">
                <p class="text-sm mb-0 text-capitalize text-success">As First Officer:</p>
                <h4 class="mb-0 text-success">{{total_737}}</h4>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="card border-success mb-2">
        <div class="card-header p-3 pt-3">
            <div class="text-center pt-1">
                <p class="text-sm mb-0 text-capitalize text-success">Synthetic Trainer:</p>
                <h4 class="mb-0 text-success">{{total_sim}}</h4>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div style="overflow-x:auto">
    <h1>Last 10 Entries:</h1>
    <table class=" table table-sm table-responsive table-light table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Aircraft Type</th>
          <th scope="col">Registration</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Airplane SEL</th>
          <th scope="col">Airplane MEL</th>
          <th scope="col">Night</th>
          <th scope="col">Actual IFR</th>
          <th scope="col">Synthetic Trainer</th>
          <th scope="col">PIlot in Command</th>
          <th scope="col">Second in Command</th>
          <th scope="col">Total Time</th>
          <th scope="col">Remarks</th>
        </tr>
      </thead>
      <tbody>
          {% for log in log_30_days %}
        <tr>
          <td>{{log.date|date:'m-d-Y'}}</td> 
          <td>{{log.equip}}</td>
          <td>{{log.registration}}</td>
          <td>{{log.origin}}</td>
          <td>{{log.destination}}</td>
          <td>{{log.airplane_sel}}</td>
          <td>{{log.airplane_mel}}</td>
          <td>{{log.night}}</td>
          <td>{{log.act_ifr}}</td>
          <td>{{log.synth_trainer}}</td>
          <td>{{log.pic}}</td>
          <td>{{log.sic}}</td>
          <td class="fw-bold">{{log.totalt}}</td>
          <td style="max-width: auto; margin:auto">{{log.remarks}}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class="table-dark fw-bold">
        <strong>
          <tr>
            <td colspan="3">Total last 30 Days</td>
            <td colspan="2"></td>
            <td>{{homet_asel}}</td>
            <td>{{homet_amel}}</td>
            <td>{{homet_night}}</td>
            <td>{{homet_act_ifr}}</td>
            <td>{{homet_synth_trainer}}</td>
            <td>{{homet_pic}}</td>
            <td>{{homet_sic}}</td>
            <td>{{last_30_days}}</td>
            <td colspan="1"></td>
          </tr>
        </strong>
      </tfoot>
    </table>
  </div>
</div>
<div class="container">
  
  <div class="row">
    <div class="col">
      <h2 class="text text-center">Hours by Month</h2>
      <div>
        <canvas id="myChart"></canvas>
      </div>
    </div>    
      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            datasets: [{
              data: {{months_data|safe}},
              label: 'Hours by Month',
              borderWidth: 1
            },{
              type: 'line',
              label: '80h Goal',
              data: [80,80,80,80,80,80,80,80,80,80,80,80]
            }
          ],
            labels : ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
                max: 100
              }
            }
          }
        });
      </script>
  </div>
</div>

<div class="container">
<section>
  <h3>Para Upgrade Today {{rem_mo}}:
    <p> Faltan: {{rem_total}} Totales. Con Credito de SIM y FTD-A {{rem_total_cr}}</p>
    <p> Faltan: {{rem_b737}} de Boeing 737</p>
    <p> Faltan: {{rem_cm}} en la Compania</p>
    <p> Minimo Mensual: {{min_mo_avr}}</p>
  </h3>
</section>
</div>


{% endblock %}